name: Windows
on:
  push:
  pull_request:
jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: v1.16
            os-version: 2019
          - version: v1.16
            os-version: 2022
    runs-on: windows-${{ matrix.os-version }}
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
      - uses: actions/checkout@master
      - name: Build
        run: |
          ridk enable
          make image DOCKERFILE=${{ matrix.version }}/windows-ltsc${{ matrix.os-version }} VERSION=test
